.main-block {
    min-width: 700px;
}

.statya-block {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.mini-block {
    width: 250px;
    height: auto;
    /*background-color: #ebe700;*/
    margin-left: 20px;
    border: 1px solid #747474;
    border-radius: 10px;
}

.mini-block-image {
    width: calc(100% - 21px);
    height: calc(250px - 21px);
    border: 1px solid #747474;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.mini-block-image img {
    width: 100%;
    height: 100%;
}

.mini-block-text {
    width: calc(100% - 20px);
    height: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
    color: #747474;
}

.options-block {
    width: auto;
    min-width: 400px;
    max-width: calc(100% - 250px - 80px);
    height: 200px;
    /*background-color: #08eb00;*/
    margin-left: 20px;
}

.history-block {
    width: calc(100% - 40px);
    height: 200px;
    /*background-color: #eb0000;*/
    margin-left: 20px;
}

.charecters-block {
    width: calc(100% - 40px);
    height: auto;
    /*background-color: #08eb00;*/
    margin-left: 20px;
    margin-bottom: 20px;
}

.charecters-block dd {
    margin-left: 20px;
}

.time-view-block {
    width: calc(100% - 40px);
    height: auto;
    margin-left: 20px;
}

.time-view-block .kategory-block {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.time-view-block .view-history-block {
    width: 100%;
    height: auto;
}

h2 {
    font-weight: 400;
    border-bottom: 1px solid #1b182c;
    margin-bottom: 5px;
}

p {
    margin-bottom: 5px;
}

b {
    color: #2669e7;
}

.table-h {
    width: auto;
    max-width: 75%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-left: 5px;
}

.table-h p {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.table {
    width: auto;
    max-width: 75%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #ffffff;
    border-radius: 50px;
    margin-left: 5px;
}

.table p {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 8px 0 8px 0;
}

.table .table-mid {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

h3 {
    margin-top: 20px;
}